[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "IntramiRExploreR"]
	path = IntramiRExploreR
	url = https://github.com/vilainlab/intramirexplorer
[submodule "nanotatoR"]
	path = nanotatoR
	url = https://github.com/vilainlab/nanotator
